{% extends 'base.html' %}

{% block title %} Dodaj kontakt {% endblock title %}

{% block head%}
<style>
  input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
  }
</style>

{% endblock head %}

{% block page %}
  {% if user.is_authenticated %}
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
    <form method="POST" style="display: flex; flex-direction: column; width: 20%;">
      {% csrf_token %}
        <label>Email:</label>
        <input type="text" name="email"/>
        <label>Telefon:</label>
        <input type="text" name="telefon"/>
        <button type="submit" class="btn btn-info w-50 mt-3">edit</button>
    </form>
  </div>
{% else %}
<h1>You are not allowed</h1>
{% endif %}
{% endblock page%}
