{% extends 'base.html' %}
{% block title%} Login {% endblock %}

{% block head%}
<style>
  input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
  }
</style>

{% endblock head %}
{% block page %}

  <div style="display: flex; justify-content: center;">
    <div style="flex-direction: column; margin-top: 40px; margin-right: 5%;width: 5%;">
      <h5>Log In</h5>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-info mt-2 mb-2">Log In <i class="fa-solid fa-right-to-bracket"></i></button>
      </form>
      <button class="btn btn-info mt-2 mb-2"><a style="color: black; text-decoration: none;" href={% url 'register-user' %}>Rejestracja</a> </button>
  </div>
<br>
{% endblock %}