{% extends 'base.html' %}

{% block title %} Producenci {% endblock title %}

{% block page %}

<a href="{% url 'dodaj-producenta' %}" class="btn btn-sm btn-outline-secondary">Dodaj nowego producenta <i class="fa-solid fa-circle-plus"></i> </a>

{% for item in object_list%}
    <p>{{ item.nazwa_producenta }}</p>
    <a href="{% url 'edytuj-producenta' item.id %} " class="btn btn-sm btn-outline-secondary">Edytuj</a>
    <a href="{% url 'usun-producenta' item.id %} " class="btn btn-sm btn-outline-secondary">Usuń</a>
{% endfor %}
{% endblock page %}