{% extends 'base.html' %}

{% block title %} Dodaj opinię {% endblock title %}

{% block page %}
{% if user.is_authenticated %}
<div>
  <form method="POST" class="m-3" style="display: flex; flex-direction: column; width: 15%;">
    <h3>Dodaj Opinię</h3>
    {% csrf_token %}
      <label>Tresc:</label>
      <textarea name="tresc" ></textarea>
      <button class="btn btn-info mt-2" type="submit">Dodaj</button>
  </form>
</div>
{% else %}
<h1> Nie jesteś zalogowany </h1>
{% endif %}
{% endblock page %}