{% extends 'base.html' %}

{% block title %} Szczegoly produktu {% endblock title %}

{% block page %}
<p>{{ product.id }}</p>
<p>{{ product.cena }}</p>
<p>{{ product.nazwa }}</p>
{% if ordered %}
  <p>Zamówiono</p>
{% endif %}
{% if user.is_authenticated %}
<form navigation method="POST" >
  {% csrf_token %}
  <div>
    <input type="number" value="0" name="quantity" min="0" />
    <input type="submit" value="Zamów" name="ADD" />
  </div>
</form>
<form method="POST" >
  {% endif %}
  {% if user.is_staff %}
  {% csrf_token %}
  <input type="submit" value="Usuń" name="DELETE"/>
</form>
{% endif %}
{% endblock page %}