{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'listStyles.css' %}" />
{% endblock head %} {% block title %} Faktury {% endblock title %} 
{% block page %}
<div class="tableWrapper">
    <table>
        <tr>
            <th>Numer Faktury</th>
            <th>Numer Zamówienia</th>
            <th>Produkty</th>
            <th>Kwota</th>
            <th>Data</th>
        </tr>
        {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.id_zamowienia_id }}</td>
            <td>
                {% for product in invoice.products%}
                {{ product.id_produktu}} | ilość:
                {{ product.ilosc}}
                <br>
                {% endfor %}
            </td>
            <td>{{ invoice.kwota }} <b>PLN</b></td>
            <td>{{invoice.data_wystawienia }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock page %}
